body {
  --bg-white: #d2ddc4;
  --bg-black: #547f1f;
  --color-white: #eee;
  --color-black: #111;
  font-family: "Roboto", sans-serif;
}

.bg-white {
  background-color: var(--bg-white);
}

.bg-black {
  background-color: var(--bg-black);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 0px;
  width: 70vw;
  aspect-ratio: 1;
  border-radius: 4px;
  box-sizing: border-box;
}

.cell {
  width: 100%;
  height: 100%;
  position: relative;
  font-weight: 600;
  box-sizing: border-box;
}

.possible-move::before {
  content: "";
  display: block;
  width: 30%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 35%; /* (100 - 50) / 2 */
  left: 35%; /* (100 - 50) / 2 */
}

main {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  width: 100%;
}

#infobar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 20px;
  border: 1px solid;
  border-color: var(--bg-black);
  border-radius: 4px;
  margin-left: 10px;
  background-color: var(--bg-white);
}

.navigation {
  display: flex;
  direction: row;
}

.player {
  font-family: "Roboto", sans-serif;
  color: var(--bg-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.time {
  font-size: 4rem;
  font-weight: 600;
  color: #3c0c0c;
}

.indicator-color-white {
  color: var(--bg-white);
}

.indicator-color-black {
  color: var(--bg-black);
}

.number-indicator {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 1.2rem;
}

.letter-indicator {
  position: absolute;
  bottom: 2px;
  right: 5px;
  font-size: 1.2rem;
}

.dragging .number-indicator {
  display: none;
}

.dragging .letter-indicator {
  display: none;
}
